{% extends 'base.html' %}
{% block title %} Dashboard {% endblock title %}


{% block content %}
<canvas id="profitChart"></canvas>
    <script>
        const ctx = document.getElementById('profitChart').getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: {{ labels|safe }},
            datasets: [{
              label: 'Total Profit',
              data: {{ data|safe }},
              borderColor: 'orange',
              fill: false
            }]
          }
        });        

    </script>
{%endblock %}

