{% extends 'base.html' %}
{% block title %} Dashboard {% endblock title %}


{% block content %}
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Average Profir Per Month</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">${{avg_profit|floatformat:2}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          Total Profit</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">${{total_profit}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Product Sold
                      </div>
                      <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_product_sales}}</div>
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Highest Product Sold In Region</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{region_name}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Content Row -->

<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Profit in Each Month</h6>
              
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <div class="chart-area">
                <canvas id="profitChart"></canvas>
                <script>
                  const ctx = document.getElementById('profitChart').getContext('2d');
                  const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: {{ labels|safe }},
                      datasets: [{
                        label: 'Total Profit',
                        data: {{ data|safe }},
                        borderColor: 'orange',
                        fill: false
                      }]
                    }
                  });        

                </script>
                  
              </div>
          </div>
      </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Profit by Regions</h6>
              
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <div class="chart-pie pt-4 pb-2">
                  <canvas id="myPieChart" style="width: 300px; height: 300px;"></canvas>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  <script>
                    const ctx2 = document.getElementById('myPieChart').getContext('2d');
                    const polarChart = new Chart(ctx2, {
                        type: 'polarArea',
                        data: {
                            labels: {{ labels2|safe }},
                            datasets: [{
                                label: 'Total Profit',
                                data: {{ data2|safe }},
                                backgroundColor: [
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(54, 162, 235, 0.5)',
                                'rgba(255, 206, 86, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(153, 102, 255, 0.5)',
                                'rgba(255, 159, 64, 0.5)'
                              ]
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            legend: {
                              position: 'right'
                            },
                            scale: {
                                ticks: {
                                  beginAtZero: true
                                },
                                reverse: false
                              }
                            }
                          });
                  </script>
                  
              </div>
          </div>
      </div>
  </div>
</div>

{%endblock %}
