{% extends 'base.html' %}


{% block title %} Monthly Chart {% endblock title %}

{% block content %}


<div class="row">
    <div class="col-xl-7 col-lg-7">
        <div class="card shadow mb-4" style="height: 550px;">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sales Count by Month</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="row">
                        <div class="col-xl-12">
                            <canvas id="monthChart" style="width: 400px; height: 400px;"></canvas>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        var ctx = document.getElementById('monthChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{ labels|safe }},
                                datasets: [{
                                    label: 'Sales Count by Month',
                                    data: {{ data|safe }},
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.6)',
                                        'rgba(54, 162, 235, 0.6)',
                                        'rgba(255, 206, 86, 0.6)',
                                        'rgba(75, 192, 192, 0.6)',
                                        'rgba(153, 102, 255, 0.6)',
                                        'rgba(255, 159, 64, 0.6)',
                                        'rgba(255, 99, 132, 0.6)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                legend: {
                                    position: 'right'
                                },
                                title: {
                                    display: true,
                                    text: 'Sales Count by Month'
                                },
                                barPercentage: 0.7
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sales</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Months</th>
                    <th>Total Sales</th>
                  </tr>
                </thead>
                <tbody>
                  {% for month in months %}
                  <tr>
                    <td>{{ month.month }}</td>
                    <td>{{ month.total_sale }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>


{%endblock %}
