{% extends 'base.html' %}


{% block title %} Region Chart {% endblock title %}

{% block content %}


<div class="row">
    <div class="col-xl-8 col-lg-8">
        <div class="card shadow mb-4" style="height: 600px;">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sales Count by Region</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="row">
                        <div class="col-xl-12">
                            <canvas id="regionChart" style="width: 450px; height: 450px;"></canvas>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        var ctx = document.getElementById('regionChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: {{ labels|safe }},
                                datasets: [{
                                    label: 'Sales Count by Region',
                                    data: {{ data|safe }},
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.6)',
                                        'rgba(54, 162, 235, 0.6)',
                                        'rgba(255, 206, 86, 0.6)',
                                        'rgba(75, 192, 192, 0.6)',
                                        'rgba(153, 102, 255, 0.6)',
                                        'rgba(255, 159, 64, 0.6)',
                                        'rgba(255, 99, 132, 0.6)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                legend: {
                                    position: 'right'
                                },
                                title: {
                                    display: true,
                                    text: 'Sales Count by Region'
                                },
                                cutoutPercentage: 50
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock %}
